{% extends 'base.html'%}
{% load static %}
{<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
</head>

{% block content %}

<body>

<div class='container'>
    <div class="col-12">
      <div class="card bg-light" style='height: auto; margin-top: 20px;'>
        <div class="card-body">
          <form method='post'>{% csrf_token %}
            <p>Dear user, a conformation code have been send to your email: {{email}}. Please, type it in here: </p>
            {{forgot_password_code_form}}
            <br><br>
            <input type='submit' class='btn btn-primary form-control'>
          </form>
          <a href="{% url 'send_forgot_email_code' %}">Send Again</a>
        </div>
      </div>
    </div>
    <br>

</div>

{% endblock %}
