{% extends 'base.html'%}
{% load static %}
{<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
</head>

{% block content %}

<body>

<div class='container'>
  <div class='rounded title-box'>
    <h1 class='title text-white'>Set Password</h1>
  </div>


    <div class="col-12">
      <div class="card bg-light" style='height: auto; margin-top: 20px;'>
        <div class="card-body">
          <form method='post'>{% csrf_token %}
            {{forgot_password_update_form}}
            <br><br>
            <input type='submit' class='btn btn-primary form-control'>
          </form>
        </div>
      </div>
    </div>

    <br>

</div>

{% endblock %}
